* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background-color: #fafafa;
  min-height: 100vh;
}

.app__signup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.app__header {
  background-color: #fff;
  border-bottom: 1px solid lightgray;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__headerImage {
  object-fit: contain;
}

.app__posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}